/_remote.repositories
/m2e-lastUpdated.properties
/ojdbc7-12.1.0.2-javadoc.jar.lastUpdated
/ojdbc7-12.1.0.2-sources.jar.lastUpdated
/ojdbc7-12.1.0.2.jar.sha1
/ojdbc7-12.1.0.2.pom
/ojdbc7-12.1.0.2.pom.sha1
